<p>carpark-detail works!</p>

<button type="button" [routerLink]="['/']">View Favorites</button>
<button type="button" (click)="addToFavorites(carpark)">Add To Favorites</button>

<h3>{{ carpark.address }}</h3>
<!-- <h3>{{ carpark.carparkNum }}</h3> -->
<table>
    <tr>
        <td>Carpark type:</td>
        <td>{{ carpark.carparkType }}</td>
    </tr>
    <tr>
        <td>Carpark System:</td>
        <td>{{ carpark.parkingSystem }}</td>
    </tr>
    <tr>
        <td>Carpark term:</td>
        <td>{{ carpark.parkingTerm }}</td>
    </tr>
    <tr>
        <td>Carpark free parking:</td>
        <td>{{ carpark.freeParking }}</td>
    </tr>
    <tr>
        <td>Carpark night parking:</td>
        <td>{{ carpark.nightParking }}</td>
    </tr>
    <tr>
        <td>Carpark gantry height:</td>
        <td>{{ carpark.gantryHeight }}</td>
    </tr>
    <tr>
        <td>Carpark decks:</td>
        <td>{{ carpark.decks }}</td>
    </tr>
    <tr>
        <td>Carpark total lots:</td>
        <td>{{ carpark.totalLots }}</td>
    </tr>
    <tr>
        <td>Carpark available lots:</td>
        <td>{{ carpark.availableLots }}</td>
    </tr>
    <tr>
        <td>Carpark lattitude:</td>
        <td>{{ carpark.xCoord }}</td>
    </tr>
    <tr>
        <td>Carpark longitude:</td>
        <td>{{ carpark.yCoord }}</td>
    </tr>
    <tr>
        <td>Carpark basement:</td>
        <td>{{ carpark.cpBasement }}</td>
    </tr>
    <!-- <tr>
        <td><img [src]="book.imageUrl"></td>
    </tr> -->
    <tr>
        <td>
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="carpark.xCoord" [longitude]="carpark.yCoord"></agm-marker>
              </agm-map>
        </td>
    </tr>
</table>

<form [formGroup]="form" (ngSubmit)="report()">
    <table>
        <tr>
            <td>Report Pic: </td>
            <td>
                <input type="file" formControlName="pic" #toUpload>
            </td>
        </tr>
        <tr>
            <td>Description: </td>
            <td>
                <input type="text" formControlName="description">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" [disabled]="form.invalid">Submit</button>
            </td>
        </tr>
    </table>
</form>

<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>Report</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput type="file" formControlName="pic" #toUpload>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <textarea matInput type="text" formControlName="description"></textarea>
                        </mat-form-field>
                    </td>
                </tr>
                
            </table>
        </form>
        
    </mat-card-content> -->
    <!-- <mat-card-actions>
        <button mat-raised-button (click)="report()" color="primary">Submit report</button>
    </mat-card-actions>
</mat-card> -->
